<div class="container">

  <div class="row">
    
    <div class="col-12 mt-5" style="display: flex;justify-content: center;align-items: center;">
      <div class="azure-services div-shadow" (click)="navigateToSaaS()">
        <img alt="Image result for virtual network svg images" class="db-image mr-2"
          src="../../assets/images/SaaS.jpg">
        <h6>SECURITY & MONITORING SERVICES</h6>
      </div>
      <div class="azure-services div-shadow" (click)="navigateToPaaS()">
        <img alt="Image result for sql database svg images" class="db-image mr-2"
          src="../../assets/images/PaaS.jpg">
          <h6>PaaS SERVICES</h6> 
      </div>
      <div class="azure-services div-shadow" (click)="navigateToIaaS()">
        <img alt="Image result for storage accounts svg images" class="db-image mr-2"
          src="../../assets/images/IaaS.jpg">
          <h6>IaaS <br>
            SERVICES</h6>
      </div>
      <div class="azure-services div-shadow" (click)="navigateToDevops()">
        <img alt="Image result for storage accounts svg images" class="vn-image mr-2"
          src="../../assets/images/devops.png">
          <h6>Azure DevOps</h6>
      </div>
      <!-- <div class="azure-services div-shadow" (click)="navigateToTemplate()">
        <img alt="Image result for arm template svg images" class="vn-image mr-2"
          src="../../assets/images/armlogo.png">
          <h6>ARM TEMPLATE</h6>
      </div> -->
      <!-- <div class="azure-services div-shadow" (click)="navigateToIaaC()">
          <h6>Custom <br>
            Software
            </h6>
      </div> -->
     
     
    
     
     
     
    </div>
  </div>
</div>
