<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-2 mt-5">
      <div class="azure-services div-shadow" (click)="navigateToAks()">
        <img alt="Image result for aks cluster" class="db-image mr-2" src="../../assets/images/Kubernetes-Services.svg">
        <h6>AKS CLUSTER DEPLOYMENT</h6>
      </div>
      <div class="azure-services div-shadow" (click)="navigateToContainerRegistry()">
        <img alt="Image result for policy" class="db-image mr-2" src="../../assets/images/Container-Registries.svg">
        <h6>CONTAINER REGISTRIES</h6>
      </div>
      <div class="azure-services div-shadow" (click)="navigateToAksApp()">
        <img alt="Image result for aks cluster" class="db-image mr-2" src="../../assets/images/App-Deployment.svg">
        <h6>AKS APP DEPLOYMENT</h6>
      </div>
    </div>
  </div>
</div>
