<div class="container">
    <div class="row">
      <div class="col-md-12 mt-5" style="display: flex;justify-content: center;">
        <div class="azure-services div-shadow" (click)="navigateToAppServices()">
            <img alt="Image result for app services" class="db-image mr-2" src="../../assets/images/App-Services.svg">
            <h6>APP SERVICES</h6>
          </div>
          <div class="azure-services div-shadow" (click)="navigateToUpload()">
            <img alt="Image result for upload" class="db-image mr-2" src="../../assets/images/Deploy-Service.svg">
            <h6>DEPLOY SERVICE</h6>
          </div>
        <!-- <div class="azure-services div-shadow">
          <img alt="Image result for aks cluster" class="db-image mr-2" src="../../assets/images/App-Deployment.svg">
          <h6>AKS APP DEPLOYMENT</h6>
        </div> -->
      </div>
    </div>
  </div>
  