.mat-select-panel mat-option.mat-option {
    margin: 1rem 1;
    overflow: visible;
    line-height: initial;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .mat-option-text.mat-option-text {
    white-space: normal;
  }
  
  .content-spacing {
    padding-left: 140px;
    margin: 10px;
  }
  
  .label-text {
    font-weight: bold;
  }
  
  .overlay {
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 20;
  }
  
  .overlay div {
    margin: 300px 300px 300px 650px;
  
  }
  